<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - B-N ACADEMY</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- header -->
    <header>


        <div class="head_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="top-box">
                            <ul class="sociel_link">
                                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="#"><i class="fa fa-instagram"></i></a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="top-box">
                            <p>L'arme la plus puissante est le savoir </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">

            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"><img src="~/images/logo.jpg" alt="logo" /> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">




                                    <div class="container-fluid">

                                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                <li class="nav-item">
                                                    @Html.ActionLink("Accueil", "Index", "Home")
                                                </li>
                                                <li class="nav-item">
                                                    @Html.ActionLink("Collèges", "Index", "College")
                                                </li>

                                                <li class="nav-item">
                                                    @Html.ActionLink("Départements", "Index", "Departement")
                                                </li>
                                                <li class="nav-item">
                                                    @Html.ActionLink("Etudiants", "Index", "Etudiant")
                                                </li>

                                                <li class="nav-item">
                                                    @Html.ActionLink("Enseignants", "Index", "Enseignant")
                                                </li>
                                                <li class="nav-item">
                                                    @Html.ActionLink("Matières", "Index", "Matiere")
                                                </li>
                                                <li class="nav-item">
                                                    @Html.ActionLink("Notes", "Index", "Note")
                                                </li>
                                                <li class="nav-item">
                                                    @Html.ActionLink("Salles", "Index", "Salle")
                                                </li>
                                            </ul>

                                        </div>
                                    </div>


                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
          </div>
        </div>

        <!-- end header inner -->
    </header>
    <!-- end header -->


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>


            <div style="  margin-left: auto;   margin-right: auto;   margin-top: auto;  margin-bottom: auto; " class="footer">
                <div class="container">

                    <div class="row">
                        <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto">
                            <div class="contact">
                                <h3>contact us</h3>
                                <span>
                                    Avenue de la Connaissance , Big Brain ACADEMY<br>
                                    Quartier Savoir, Lomé-TOGO<br>
                                    +228 900 000 00
                                </span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="copyright">

                    <p> Copyright &copy; @DateTime.Now.Year Tous Droits Réservés <strong>BIG NOTORIOUS COMMUNICATION </strong> </p>

                </div>

            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>