@model GestionEcole1.Models.Departement

@{
    ViewBag.Title = "Details";
}







<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>B_N ACADEMY</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css-->
    <link rel="stylesheet" href="~/Content//bootstrap.min.css">
    <!-- style css-->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS-->
    <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">



    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Details</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>


    <div>
        <h4>Departement</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                College
            </dt>

            <dd>
                @Html.DisplayFor(model => model.College.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>
            <dt>
                Responsable
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EnseignantChef.Nom)
                @Html.DisplayFor(model => model.EnseignantChef.Prenom)

            </dd>


        </dl>
    </div>
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-outline-success">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </button>
        <button type="button" class="btn btn-outline-dark btn-lg">

            @Html.ActionLink("Back to List", "Index")
        </button>

    </div>







    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });

    </script>
</body>